.header {
    background-color: $color-link;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $padding-default;
    color: $color-light;

    .header-title {
        font-size: $font-size-large;
    }
}
