/* You can add global styles to this file, and also import other style files */
@import "styles/main.scss";

.footer {
    background-color: #f9f9f9;
    border-top: 1px solid #f1f1f1;
    height: 45px;
}

.main {
    display: flex;
    flex-direction: row;

    .editor-panel {
        &.left, &.right {
            width: 300px;
        }

        &.left {
            background-color: #f1f1f1;
        }

        &.right {
            background-color: #f1f1f1;
        }
    }
}