// Shadow variables.
$box-shadow-default: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

// Edge dimensions.
$border-radius-extra-small: 4px;
$border-radius-small: 7px;
$border-radius-default: 10px;
$border-radius-medium: 13px;
$border-radius-large: 16px;

// Border dimensions
$border-width-extra-small: .25px;
$border-width-small: .5px;
$border-width-default: 1px;
$border-width-medium: 2px;
$border-width-large: 3px;