.form-section {
    padding-bottom: $padding-default;

    > .form-label {
        display: block;
        font-size: $font-size;
        margin-bottom: $margin-small;
    }
}

.input-element {
    display: block;
    width: 100%;
    border: $border-width-small solid $color-grey;
    padding: 10px;
    color: $color-white;
    height: 25px;
    background-color: #484848;
}

::placeholder {
    color: $color-grey;
}

.checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: $margin-extra-small;

    > input {
        width: inherit;
        margin: 0;
        padding: 0;
        margin-right: $margin-small;
        cursor: pointer;
    }

    > label {
        cursor: pointer;
    }
}

.radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: $margin-extra-small;

    > input {
        margin: 0;
        padding: 0;
        margin-right: $margin-small;
    }
}