.nav {
    &.nav-menu {
        list-style-type: none;
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: 0 15px;
        height: 45px;

        .nav-toggle {
            @media only screen and (max-width: 768px) {
                display: block;
            }

            @media only screen and (min-width: 768px) {
                display: none;
            }
        }

        > .nav-left {
            display: flex;
            justify-content: flex-start;
        }

        > .nav-center {
            flex: 1;
            justify-self: center;
            align-self: center;
            text-align: center;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 1em;
        }
        
        > .nav-right {
            display: flex;
            justify-content: flex-end;

            @media only screen and (max-width: 768px) {
                display: none;
            }
        }

        .nav-text {
            font-weight: bold;
            font-size: 1.25rem;
            font-weight: normal;
            padding: 15px;
    
            a {
                color: $color-dark;
                text-decoration: none;
                height: 100%;
            }
        }
        
        .nav-item {
            display: flex;
            list-style-type: none;
            
            > li {
                height: 45px;
                display: flex;

                div[role="button"] {
                    // TODO: Add specific Sass variable for this color.
                    color: $color-dark;
                    padding: 0 12px;
                    display: flex;
                    align-items: center;
                    margin: 5px 8px;
                    
                    &:hover {
                        border-radius: 5px;
                        background-color: #007ACC;
                        color: white;
                        cursor: pointer;
                    }
                }

                .nav-menu.fill-dark & {
                    background-color: #212121;
                }

                .sub-menu {
                    background-color: $color-dark;
                    border-radius: 0;

                    > li {
                        padding: 0;

                        &:hover {
                            background-color: #007ACC;
                        }

                        &.divider {
                            height: 1px;
                            padding: 0;
                            margin: 0;
                            overflow: hidden;
                            background-color: #787878;
        
                            &:hover {
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }

        &.fill-dark, &.fill-success, &.fill-danger, &.fill-warning, &.fill-link {
            .nav-text {
                a {
                    color: darken($color: $color-light, $amount: 5);
                }
            }

            .nav-item {
                > li {
                    a {
                        color: $color-light;
                    }
                }
            }
        }

        &.fill-dark {
            .nav-item {
                > li {
                    &:hover {
                        // background-color: darken($color: $color-dark, $amount: 5);
                    }
                }
            }
        }

        &.fill-success {
            .nav-item {
                > li {
                    &:hover {
                        // background-color: darken($color: $color-success, $amount: 5);
                    }
                }
            }
        }

        &.fill-danger {
            .nav-item {
                > li {
                    &:hover {
                        // background-color: darken($color: $color-danger, $amount: 5);
                    }
                }
            }
        }

        &.fill-warning {
            .nav-item {
                > li {
                    &:hover {
                        // background-color: darken($color: $color-warning, $amount: 5);
                    }
                }
            }
        }

        &.fill-link {
            .nav-item {
                > li {
                    &:hover {
                        // background-color: darken($color: $color-link, $amount: 5);
                    }
                }
            }
        }

        li {
            a {
                text-decoration: none;
            }
        }
    }

    &.nav-list {
        list-style-type: none;
        padding: 0;

        .nav-group {
            list-style-type: none;
            margin: 0;
            padding: 0;
            margin-bottom: $margin-large;

            li {
                font-size: 14px;
                padding: 5px 0;
                font-weight: 700;

                &.item-header {
                    text-transform: uppercase;
                    color: #a0aec0;
                    font-weight: bold;
                }
        
                &:last-child {
                    border-bottom: none;
                }
        
                a {
                    text-decoration: none;
                    color: $text-default;
                    cursor: pointer;
                }
            }
        }
    }

    &.nav-flush {
        border-left: none;
        border-right: none;
    }
}