.pagination {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    // Common pagination theme styles.
    li {
        padding: $pagination-padding-y $pagination-padding-x;
        margin-right: $pagination-item-spacing;
        cursor: pointer;
        
        &.active {
            background-color: $color-light;
        }

        &:hover {
            background-color: $color-light;
        }

        a {
            text-decoration: none;
        }
    }
}