.tooltip {
    position: relative;
    width: fit-content;

    .tooltip-content {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0 auto;
        background: $color-grey;
        width: 100px;
        color: $color-light;
        padding: 5px 8px;
        margin-top: -30px;
        font-size: $font-size-small;
        width: max-content;
    }

    .tooltip-source:hover + .tooltip-content {
        display: block;
    }
}