<div class="component-template">
    <div class="flex flex-r justify-content-between align-items-center" style="padding-bottom: 10px; font-weight: bold; margin-bottom: 5px;">
        <!-- <span>{{instance.constructor.name}}</span> -->
        <span>TODO: Add instance name</span>
        <button type="button" class="fill-transparent" aria-label="Remove component" (click)="removeComponent(instance)">
            <i class="fa fa-trash text-red-lighten-2"></i>
        </button>
    </div>
    <!-- <div app-component :key="instance.constructor.name" :is="instance.constructor.name" :inspector-component-data="instance" style="margin-bottom: 30px;"></component> -->
</div>