@import 'variables';
@import 'animations';
@import 'layout';
@import 'components';
@import 'colors';
@import 'typography';
@import 'helpers';
@import 'dashboard';

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

div[role="button"] {
    cursor: pointer;
}

.tree-component ul li {
    margin-bottom: 5px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .tree-component ul li.selected {
    background-color: #007ACC;
  }

input, select {
    width: 100%;
    color: white;
    outline: none;
    border: 1px solid #181818;
    padding: 5px;
    border-radius: 5px;
    height: 15px;
    background-color: #484848;
}

select {
    height: 35px;
    padding: 0;
}

div[role="button"] {
    outline: none;
}

input:focus {
    border: 1px solid #007ACC;
}

.component {
    display: flex;
    flex-direction: column;
    flex: 1;
}

html, body{
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #f7f7f7;
    padding: 0;
    margin: 0;
    font-size: 16px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #f7f7f7;
}

/* width */
::-webkit-scrollbar {
    width: 12.5px;
    height: 12.5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #282828;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #585858;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #484848;
  }
  
  ::-webkit-scrollbar-corner {
    background: #282828;
    }

.pane {
    background-color: #fefefe;
}

.nav-menu ul li {
    position: relative;
}

.nav-menu ul li:hover {
    background-color: #ccc;
}

.nav-menu ul li .sub-menu {
    background-color: #000000;
    position: absolute;
    display: none;
    width: 200px;
    background: #111;
    z-index: 100;
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    top: 36px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.nav-menu ul li.expanded .sub-menu {
    display: block;
}

.nav-menu ul li.expanded .sub-menu li {
    padding: 10px;
}

.nav-menu ul li input[type="checkbox"] {
    height: inherit;
    width: inherit;
}

.active {
    background-color: #FFCD43;
    color: #282828 !important;
}

button {
    color: #2d3748;
    background-color: #E2E8F0;
    font-size: 16px;
    border: none;
    padding: 5px 8px;
}

.text-red {
    color: #DC4E41;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.snap-target {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.engine-context-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #282828;
    color: #edf2f7;
    font-size: 18px;
}

.engine-context-menu ul li {
    padding: 5px;
    font-size: 16px;
}

.engine-context-menu ul li:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.engine-context-menu ul li:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.engine-context-menu ul li:hover {
    cursor: pointer;
    background-color: black;
}

body.display-snap-targets .snap-target {
    border: 3px solid yellow;
    background-color: #181818;
}

.top-left {
    top: 0;
    left: 0;
}

.top-right {
    top: 0;
    right: 0;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.layer-editor ul li {
    /* padding: 5px; */
    height: 50px;
}

.layer-editor ul li:hover {
    background-color: red;
}

.layer-editor ul li.active {
    background-color: #56636A;
}

.bottom-right {
    bottom: 0;
    right: 0;
}

button:focus {
    outline: none;
}

button.active {
    background-color: #56636A;
    color: white;
    outline: none;
    border: none;
}

.overlay-container {
    display: flex;
    flex-direction: column;
}

.overlay-header {
    padding: 8px 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.overlay-content {
    font-size: 16px;
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    border-top: none;
}

.overlay-container.sprite-editor {
    height: 50%;
}

.overlay-container.sprite-editor ul {
    list-style-type: none;
    display: grid;
    grid-gap: 1rem;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    padding: 10px;
}

.overlay-container.sprite-editor ul li img.pending-sprite {
    outline: 2px solid yellow;
}

.header-action {
    font-size: 20px;
}

.drag-handle {
    margin-right: 10px;
}

.gear::after {
    content: '\2699';
    cursor: move;
}

.ellipsis::after {
    content: '\22EF';
}

.square-grid::after {
    content: '\268F';
}

.control-group {
    margin-bottom: 15px;
}

.control-group input {
    margin-bottom: 8px;
}

.pixel-dimensions {
    display: flex;
}

.pixel-dimensions div {
    flex: 1;
    flex-basis: 0;
    margin-right: 10px;
}

.pixel-dimensions div:last-child {
    margin-right: 0;
}

// Accessible modals
.a11y-modal-container {
    display: none;
    position: fixed;
    overflow-y: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.a11y-modal {
    background-color: white;
    border-radius: 8px;
    width: 768px;
}

/* @media (max-width: 800px) {
    .a11y-modal {
        
    }
} */

.a11y-modal-banner {
    background-color: white;
    padding: 12px 24px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.a11y-modal-banner .a11y-modal-title {
    margin: 0;
    padding: 0;
}

.a11y-modal-content {
    background-color: #f9f9fb;
    padding: 12px 24px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.a11y-modal-footer {
    padding: 12px 24px;
    display: flex;
    justify-content: flex-end;
}

.a11y-open {
    display: flex;
}

.a11y-hidden {
    display: none;
}

.tree {
    > ul {
        padding-left: 15px;
        padding-top: 5px;

        li {
            padding-bottom: 5px;

            ul {
                display: none;
            }

            &.expanded {
                > ul {
                    display: inherit;
                }
            }
        }
    }

    > ul {
        padding-top: 0;
        padding-left: 0;
        display: inherit;
    }
}

canvas {
    border-radius: 0;

    &:focus {
        outline: 3px solid lightskyblue;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
    }
}