<div class="scene-toolbar-component">
    <ul class="nav nav-menu mb-0 fill-dark text-white is-shadowed" style="z-index: 500; border-bottom: 1px solid black">
        <div class="nav-left">
            <ul class="nav-item">
                <li [class]="{ selected: transformMode === 0 }">
                    <div role="button" class="btn-toolbar-item" tabindex="0" (click)="onSetTransformMode(0)" title="Position">
                        <i class="fa fa-arrows"></i>
                    </div>
                </li>
                <li [class]="{ selected: transformMode === 1 }">
                    <div role="button" class="btn-toolbar-item" tabindex="0" (click)="onSetTransformMode(1)" title="Scale">
                        <i class="fa fa-sliders"></i>
                    </div>
                </li>
                <li [class]="{ selected: transformMode === 2 }">
                    <div role="button" class="btn-toolbar-item" tabindex="0" (click)="onSetTransformMode(2)" title="Rotate">
                        <i class="fa fa-refresh"></i>
                    </div>
                </li>
            </ul>
        </div>
        <div class="nav-right">
            <ul class="nav-item">
                <li class="menu-item">
                    <div role="button" tabindex="0" class="btn-play" (click)="setIsPlayMode(true)">
                        <i class="fa fa-play text-green-darken-2 mr-default"></i>
                        <span class="text-white">PLAY</span>
                    </div>
                </li>
            </ul>
        </div>
    </ul>
</div>